.app_background {
  background-image: url("../src/images/triangles.png");
  width: 100%;
  height: 350px;
  background-position: center; /* css trick to get full background image */
  background-size: cover; /* image will be centered no matter how wide the screen is */
  font-family: 'Gotham A';
}

#body_background {
	background-color: #F7F7F7;
}

.app_header {
	background-image: url("../src/images/particle-horizontal.png");
}

.btn_get_device_list {
    margin-top: 250px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #00adef;
    color: #fff;
    font-family: 'Gotham SSm A','Gotham SSm B',proxima-nova,"Helvetica Neue",helvetica,arial,sans-serif;
}

.view_device_list {
	margin: 25px;
	border: 25px;
	padding: 25px;
}

.view_device_info {
  margin: 50px;
  border: 25px;
  padding: 25px;
}

.view_device_function {
  margin: 50px;
  border: 25px;
  padding: 25px;
}

.view_device_variable {
  margin: 50px;
  border: 25px;
  padding: 25px;
}

.logo {
  margin-top: 100px;
}